{% extends 'home/base.html' %}

{% block content %}
    <h1>Acerca de mí</h1>
    <br>

    <h5>Juan Pablo Pineda H</h5>
    <br>  
    
    <p>Consultor en sostenibilidad e innovación que desea aportar para que tengamos una economía donde el éxito se mida por el bienestar de las personas, la sociedad y el planeta. Con la intención de ayudar a las empresas a ser más conscientes de sus impactos se está creando "Karma". Nuestras acciones tienen consecuencias, la intención detrás de nuestra acciones es importante. En el contexto de la medición de la huella de carbono, el concepto de karma implica ser más conscientes de las consecuencias de nuestra acciones ambientales y tratar de actuar de manera responsable y sostenible. ¡Sé parte del cambio!</p>




{% endblock content %}