{% extends 'home/base.html' %}

{% block content %}
    <h1>Datos emisiones indirectas de GEI asociadas al consumo de energía: Alcance 2</h1>

    <p>El alcance 2 incluye las emisiones en la generación de electricidad adquirida y consumida por la empresa. Electricidad adquirida se define como la electricidad que es comprada, o traída dentro del límite organizacional de la empresa. Las emisiones del alcance 2 ocurren físicamente en la planta donde la electricidad es generada.</p>    

    <h5>1. Emisiones de CO2e asociadas al uso de energía eléctrica:</h5><br>

    <form action="" method="post" >
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Realizar cálculo emisión">
    </form>
    <br>

    {% block content_alcance2 %}
        
    {% endblock content_alcance2 %}

{% endblock content %}