{% extends 'home/base.html' %}

{% block content %}
    <h1>Datos emisiones directas de GEI: Alcance 1</h1>

    <p>Las emisiones de Alcance 1 ocurren de fuentes que son propiedad de la empresa o están controladas por esta. Las emisiones provenientes de la combustión en calderas, hornos, vehículos propios, etc., que son propiedad o están controlados por la empresa; emisiones provenientes de la producción química en equipos de proceso propios o controlados.</p><br>    
    
    <h5>1. Emisiones de CO2e generada por recarga de gas refrigerante en equipos de aire acondicionado:</h5><br>

    <form action="" method="post" >
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Ingresar datos">
    </form>
    <br>
    <h5>Resultado huella de carbono Alcance 1</h5>

        {% block content_alcance1 %}

            <h6>Cálculos</h6>

            <a href="{% url 'home:calculo-emision-refrigerante' %}">Ver valores Alcance 1:emisiones directas</a>

        {% endblock content_alcance1 %}



{% endblock content %}