{% extends 'home/base.html' %}

{% block content %}
   
    {% if user.is_authenticated %}
        <br><p>{{mensaje}}</p>
    {% endif %} 

    {% if user.is_staff %}
        <p><a href="{% url 'admin:index' %}">Administración</a></p>
        <p><a href="{% url 'admin:index' %}">Registro nueva empresa</a></p>


    {% endif %} 

    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.pixabay.com/photo/2014/04/17/23/26/environmental-protection-326923_1280.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Huella de Carbono Corporativa</h1>
            <p>La huella de carbono cuantifica la cantidad total de gases efecto invernadero (GEI) que son liberadas directa o indirectamente a la atmosfera como consecuencia del desarrollo de cualquier actividad (individuo, organización, evento, proyecto, servicio o producto).</p>
            <a class="btn btn-primary" href="{% url 'home:crear-cliente' %}">Ingresa empresa!</a>
        </div>
    </div>
            <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Se realiza el cálculo de la huella de carbono corporativa atendiendo los lineamientos metodológicos de GHG Protocol y la norma NTC ISO 14064-1 (2006).</p></div>
    </div>
            <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card One</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Two</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
