{% extends 'home/base.html' %}

{% block content %}
   
    {% if user.is_authenticated %}
        <br><p>{{mensaje}}</p>
    {% endif %} 

    {% if user.is_staff %}
        <p><a href="{% url 'admin:index' %}">Administración</a></p>
        <p><a href="{% url 'home:register' %}">Registro nueva empresa</a></p>
    {% endif %} 

    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.pixabay.com/photo/2014/04/17/23/26/environmental-protection-326923_1280.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Huella de Carbono Corporativa</h1>
            <p>La huella de carbono cuantifica la cantidad total de gases efecto invernadero (GEI) que son liberadas directa o indirectamente a la atmosfera como consecuencia del desarrollo de cualquier actividad (individuo, organización, evento, proyecto, servicio o producto).</p>
            <a class="btn btn-primary" href="{% url 'home:crear-cliente' %}">Ingresa empresa!</a>
        </div>
    </div>
            <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">El calentamiento global y el cambio climático se han revelado
            como un tema clave en materia de desarrollo sostenible. La presente plataforma en desarrollo permite realiza el cálculo de la huella de carbono corporativa atendiendo los lineamientos metodológicos de GHG Protocol y la norma NTC ISO 14064-1 (2006).</p></div>
    </div>
            <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Alcance 1: Emisiones directas de GEI</h2>
                    <p class="card-text">Las emisiones directas ocurren de fuentes que son propiedad o están controladas por la empresa. Por ejemplo, emisiones provenientes de la combustión en calderas, hornos, vehículos, etc., que son propiedad o están controlados por la empresa; emisiones provenientes de la producción química en equipos de proceso propios o controlados.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Alcance 2: Emisiones indirectas de GEI asociadas a la electricidad</h2>
                    <p class="card-text">Incluye las emisiones en la generación de electricidad adquirida y consumida por la empresa. Electricidad adquirida se define como la electricidad que es comprada, o traída dentro del límite organizacional de la empresa. Las emisiones del alcance 2 ocurren físicamente en la planta donde la electricidad es generada.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Alcance 3: Otras emisiones indirectas</h2>
                    <p class="card-text">Las emisiones del alcance 3 son consecuencia de las actividades de la empresa, pero ocurren en fuentes que no son propiedad ni están controladas por la empresa. Estas son las emisiones asociadas a la manufactura realizada por terceros a cuenta de la empresa o subcontratada, arrendamientos o franquicias no incluidas en los alcances 1 y 2.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
